@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?prhknw');
  src:  url('../fonts/icomoon.eot?prhknw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?prhknw') format('truetype'),
    url('../fonts/icomoon.woff?prhknw') format('woff'),
    url('../fonts/icomoon.svg?prhknw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: "\e901";
}
.icon-alert-octagon:before {
  content: "\e902";
}
.icon-alert-triangle:before {
  content: "\e903";
}
.icon-align-center:before {
  content: "\e904";
}
.icon-align-justify:before {
  content: "\e905";
}
.icon-align-left:before {
  content: "\e907";
}
.icon-align-right:before {
  content: "\e908";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-arrow-down-circle:before {
  content: "\e90a";
}
.icon-arrow-down-left:before {
  content: "\e90b";
}
.icon-arrow-down-right:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90f";
}
.icon-arrow-left-circle:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-arrow-right-circle:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\e913";
}
.icon-arrow-up-circle:before {
  content: "\e914";
}
.icon-arrow-up-left:before {
  content: "\e915";
}
.icon-arrow-up-right:before {
  content: "\e916";
}
.icon-check:before {
  content: "\e917";
}
.icon-chevron-down:before {
  content: "\e918";
}
.icon-chevron-left:before {
  content: "\e919";
}
.icon-chevron-right:before {
  content: "\e91a";
}
.icon-chevron-up:before {
  content: "\e91c";
}
.icon-chevrons-down:before {
  content: "\e91d";
}
.icon-log-in:before {
  content: "\e91e";
}
.icon-log-out:before {
  content: "\e91f";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-books:before {
  content: "\e920";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-cog:before {
  content: "\e994";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner111:before {
  content: "\e985";
}
.icon-search1:before {
  content: "\e987";
}
.icon-zoom-in:before {
  content: "\e988";
}
.icon-zoom-out:before {
  content: "\e98a";
}
.icon-enlarge1:before {
  content: "\e98b";
}
.icon-shrink:before {
  content: "\e98c";
}
.icon-enlarge2:before {
  content: "\e98d";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list21:before {
  content: "\e9bc";
}
.icon-tree:before {
  content: "\e9bd";
}
.icon-menu:before {
  content: "\e9be";
}
.icon-menu2:before {
  content: "\e9bf";
}
.icon-menu3:before {
  content: "\e9c0";
}
.icon-menu4:before {
  content: "\e9c1";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-link1:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-ctrl:before {
  content: "\ea50";
}
